<!-- <app-menu-bar></app-menu-bar> -->
<router-outlet></router-outlet>
<div class="user-profile">

    <mat-card class="user-profile-card">
        <mat-card-header class="user-profile-header">
            <mat-card-title>Your Profile Information</mat-card-title>
        </mat-card-header>
        <mat-card-content class="user-profile-info">
            <p><b>Username:</b> {{user.Username}}</p>
            <p><b>Email:</b> {{user.Email}}</p>
            <p><b>Birthday:</b> {{user.Birthday | date }}</p>
        </mat-card-content>
        <mat-card-actions class="usercard-actions">
          <button
                mat-stroked-button
                (click)="editUserProfile()"
                class="edit-profile-button"
            > 
                <mat-icon>edit</mat-icon>
                Edit Profile
            </button>
            <button
                mat-stroked-button
                (click)="deleteUserProfile()"
                class="delete-profile-button"
            >
                <mat-icon>delete user profile</mat-icon>
                Delete Profile
            </button>
            
        </mat-card-actions>
    </mat-card>

    <!-- the content of the mat-card lable is very important -->
    <div class="favourites-list">
    <h2 class="favorites-header">Favorite Movies</h2>
    <mat-card *ngFor="let movie of Favorites;" class="favorite-movies" style="margin:2em;">
        <mat-card-header>
            <mat-card-title>
              {{movie.title}}
            </mat-card-title>
            <mat-card-subtitle>Directed by: 
                <button 
                  class="director-button"
                  mat-raised-button
                  color="primary"
                  (click)="getDirector(
                    movie.director.name,
                    movie.director.bio,
                    movie.director.birth
                    )"
                > 
                  {{movie.director.name}}
                </button>
            </mat-card-subtitle>
        </mat-card-header>
            <img src={{movie.imagePath}} alt= {{movie.title}} />
            <mat-card-actions>
              <button
                class="genre-button"
                mat-raised-button
                color="primary"
                (click)="getGenre(
                  movie.genre.name,
                  movie.genre.description
                  )"
              >
                {{movie.genre.name}}
              </button>
        
              <button
                class="synopsis-button"
                mat-raised-button
                color="primary"
                (click)="getSynopsis(
                    movie.imagePath,
                    movie.description
                  )"
              >
                Synopsis
              </button>
        
                <mat-card-actions>
                  <button 
                    class="delete-fav-button"
                    mat-icon-button 
                    (click)="deleteFavoriteMovie(movie._id)"
                  > Remove from favorites
                    <!-- <mat-icon>remove from favorite movies</mat-icon> -->
                  </button>
                </mat-card-actions>
            </mat-card-actions>
    </mat-card>
  </div>

</div>
