<div style="display: flex;">
    <mat-card *ngFor="let movie of movies; let i=index;">
        <mat-card-header>
            <mat-card-title>{{movie.title}}</mat-card-title>
            <mat-card-subtitle>Directed by: {{movie.director.name}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-md-image src={{movie.imagePath}}/>
        <mat-card-actions>
            <button
                mat-button
                color="primary"
                (click)="getGenre(
                    movie.genre.name,
                    movie.genre.description
                )"
            >
                Genre
            </button>
            <button
                mat-button
                color="primary"
                (click)="getDirector(
                    movie.director.name,
                    movie.director.bio,
                    movie.director.birth

                )"
            >
                Director
            </button>
            <button
                mat-button
                color="primary"
                (click)="getSynopsis(
                    movie.title,
                    movie.imagePath,
                    movie.description
                    )"
            >
                Synopsis
            </button>
            <button 
                mat-icon-button color="warn"
                (click)="addToFavorites(
                movie._id
                )"
            >
            <mat-icon>favorite_border</mat-icon>
        </button>
        </mat-card-actions>
    </mat-card>
</div>
